h1 {
    text-align: center;
}

/* body .dark {
    background-color: darkslategrey;
    color: azure;
} */

div {
    float: left;
    width: 33%;
}

#launch-list {
    overflow: scroll;
    height: 50vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    scrollbar-color: teal;
    scrollbar-width: thin;
    width: 100%;
}

ul {
    list-style: none;
    list-style-image: url("rocket2.png");
}

#launch-list li {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

/* .flight-details {
    position: absolute;
    top: 100px;
    left: 800px;
    right: 800px;
    text-align: center;
    word-wrap: normal;
    margin-bottom: 100px;
} */

body {
    text-align: center;
    z-index: 1;
    background-color: whitesmoke;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#api-form {
    text-align: left;
    cursor: pointer;
}

button {
    margin-bottom: 25px;
    cursor: pointer;
}

#dark {
    position: absolute;
    left: 125px;
}